body{
	background-color: black;
	padding-top: 150px;
}
.grid{
	display: grid;
	grid-template-columns: 57% 43%;
	column-gap: 4px;
	padding: 10px 10px 0px 10px;
	padding-bottom: 4px;
}
.first{
	background-color: orange;
	color: orange;
}
.second{
	background-color: yellow;
	color: yellow;	
}
.grid2{
	display: inline-grid;
	grid-template-columns: 45% 55%;
	column-gap: 4px;
	padding: 0px 10px 10px 10px;
}
.third{
	background-color: green;
	color: green;
}
.fourth{
	background-color: blue;
	color: blue;
}
.grid3{
	display: grid;
	grid-template-rows: 45% 52% ;
	grid-row-gap: 4px;
}

